* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
  
  padding-top: 0;
}

.site-header {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0rem;
  background-color: #000000;
}

.site-header h1 {
  font-size: 1rem;
  text-align: left;
  padding-left: 1rem;
  padding-top: 1%;
  padding-bottom: 1%;
}

.tagline {
  font-size: 1.2rem;
  color: #94a3b8;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

section {
  margin-bottom: 2.5rem;
}

.title h1 {
    margin-bottom: 7%;
    font-size: 250%;
    text-align: center;
    background-color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: inset;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #334155;
  padding-bottom: 0.25rem;
}

.demo {
  margin-bottom: 1.5rem;
}

audio {
  width: 100%;
  margin-top: 0.5rem;
}

ul {
  padding-left: 1.2rem;
}

li {
  margin-bottom: 0.5rem;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 4rem;
  padding: 2%;
  color: #64748b;
  font-size: 0.9rem;
  background-color: #000000;
}
